.OutlineWideBox{
    position: relative;
    border: 1px solid;
    border-radius: 10px;
    border-color: #000000;
    background-color: snow;
    width: 320px;
    height: 240px;
    padding: 5px;

}
.RankingNum{
    position: absolute;
    border: 1px solid;
    border-radius: 25%;
    border-color: #000000;
    background-color:black;
    width: 64px;
    height: 64px;
    padding-bottom: 8%;
    top: -1px;
    left: -1px;

}
.WideImageBox{
    position: absolute;
    border: 1px solid;
    border-radius: 10px;
    border-color: #000000;
    height: 90%;
    top: -1px;
    left: 224px;

}
.WideImageBox img{
    position: absolute;
    border: 1px solid;
    border-radius: 10px;
    border-color: #000000;
    height: 100%;
    top: -1px;
    right: 100%;
    object-fit: contain;
}
.PackNameWide{
    position: absolute;
    border: 1px solid;
    border-radius: 0%;
    border-color: #000000;
    width: 64px;
    height: 24px;
    bottom: 92px;
    right: 24px;

}
.CardNumWide{
    position: absolute;
    border: 1px solid;
    border-radius: 0%;
    border-color: #000000;
    width: 64px;
    height: 24px;
    bottom: 68px;
    right: 24px;

}
.RarityWide{
    position: absolute;
    border: 1px solid;
    border-radius: 0%;
    border-color: #000000;
    width: 64px;
    height: 24px;
    bottom: 44px;
    right: 24px;

}
.CardNameWide{
    position: absolute;
    border: 1px solid;
    border-radius: 0%;
    border-color: #000000;
    width: 208px;
    height: 32px;
    bottom:-2px;
    left: 3px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.PriceWide{
    position: absolute;
    border: 1px solid;
    border-radius: 0%;
    border-color: #000000;
    width: 112px;
    height: 24px;
    bottom: 1px;
    right: 0px;
}
.RankLetter{
    text-align: center;
    margin-top: -20%;
    color:white;
    width: 56px;
    height: 56px;
    font-size: 50px;
    font-weight:bolder; /*太字に*/
    font-family:'M PLUS Rounded 1c', sans-serif;
}
.PackNameWide p{
    text-align: center;
    margin-top: -5%;
    color:black;
    width: 48px;
    height: 16px;
    font-size: 20px;
    font-weight:bolder; /*太字に*/
    font-family: 'M PLUS Rounded 1c', sans-serif;
}
.CardNumWide p{
    text-align: center;
    margin-top: -5%;
    color:black;
    width: 48px;
    height: 16px;
    font-size: 20px;
    font-weight:bolder; /*太字に*/
    font-family:'M PLUS Rounded 1c', sans-serif;
}
.RarityWide p{
    text-align: center;
    margin-top: -5%;
    color:black;
    width: 48px;
    height: 16px;
    font-size: 20px;
    font-weight:bolder; /*太字に*/
    font-family:'M PLUS Rounded 1c', sans-serif;
}
.CardNameWide p{
    text-align: center;
    margin-top: -2%;
    color:black;
    width: 160px;
    height: 24px;
    font-size: 24px;
    font-weight:bolder; /*太字に*/
    font-family: 'M PLUS Rounded 1c', sans-serif;
}
.PriceWide p{
    text-align: right;
    margin-top: -10%;
    color:black;
    width: 80px;
    height: 16px;
    font-size: 24px;
    font-weight:bolder; /*太字に*/
    font-family:'M PLUS Rounded 1c', sans-serif;
}