.HistoryItems{
    text-align: left;
    width: 100%;
    border-top: 3px solid;
    border-bottom: 3px solid;
    border-color: black;
    background-color: lightslategray;
}
.RankingItems{
    position: static;
    padding: 10px;
}
.HistryTitle{
    display: flex;
    flex-flow: column;
    justify-content:flex-end;
    align-items: center;
    font-size: 56px;
    font-weight:bolder; /*太字に*/
    font-family: 'M PLUS Rounded 1c', sans-serif;
    padding-left: 2%;
}
.HistrySubTitle{
    text-align: left;
    color:black;
    font-size: 40px;
    font-weight:bolder; /*太字に*/
    font-family: 'M PLUS Rounded 1c', sans-serif;
    margin-top:-10% ;
    margin-bottom: -5%;
}
.Continue{
    text-align: right;
    padding-right: 2%;
}
.HistryColHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.Daily{
    border: 2px solid #000;
  border-radius: 0;
  font-size: 1.6rem;
  font-weight:bolder; /*太字に*/
  font-family: 'M PLUS Rounded 1c', sans-serif;
  line-height: 2.0;
  position: relative;
  display: inline-block;
  padding: auto;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  border-radius: 0.5rem;
  width: 30%;
  height: 501%;

}
.Daily:hover {
    color: #fff;
    background: #000;
  }
  .Weekly{
    border: 2px solid #000;
  border-radius: 0;
  font-size: 1.6rem;
  font-weight:bolder; /*太字に*/
    font-family: 'M PLUS Rounded 1c', sans-serif;
  line-height: 2.0;
  position: relative;
  display: inline-block;
  padding: auto;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  border-radius: 0.5rem;
  width: 30%;
}
.Weekly:hover {
    color: #fff;
    background: #000;
  }
  .SwichButtons{
      width: 40%;
      height: 100%;
  }
  .Active{
    color: #fff;
    background: #000;
  }
  .Passive{
    background: #fff;
    color: #212529;
  }