@media (max-width: 1024px){
    .illustlation{
        position: relative;
        text-align:right;
        height: 100%;
        z-index: -1;
    }
    .top-illust{
        height: 100%;
    }
    .top-illust img{
        width: 100%;
        object-fit: cover;
    }
    .title-logo img{
        position: absolute;
        top: 30%;
        left: 0%;
        width: 30%;
        opacity:0.1;
    }
    }
@media (min-width: 1024px){
.illustlation{
    position: relative;
    text-align:right;
    height: 100%;
    z-index: -1;
}
.top-illust{
    height: 100%;
}
.top-illust img{
    width: 100%;
    height: 560px;
    object-fit: cover;
}
.title-logo img{
    position: absolute;
    top: 30%;
    left: 0%;
    width: 30%;
    opacity:0.1;
}
}