.header {
    height: 64px;
    border-bottom: 1px solid #eee;
  }
  
  .header-logo img {
    width: 15%;
    padding-top: 10px;
    padding-left: 10px;
    float: left;
  }
  .check {
    width: 20%;
    padding-top: 1%;
    padding-left: 2%;
    float: left;
  }
  .searchbox {
    width: 50%;
    padding-top: 1%;
    padding-left: 2%;
    float: left;
  }