.NewItemsPlates{
    display: flex;
    width: 100%;
    border: 3px solid;
    border-color: black;
    background-color: lightslategray;
    flex-wrap: wrap;
    margin-left: 2%;
}
.NewItemsMain{
    width: 95%;
}
.RankingItems{
    position: static;
    padding: 10px;
}
.NewItemsTitle{
    display: flex;
    flex-flow: column;
    justify-content:flex-end;
    align-items: center;
    font-size: 56px;
    font-weight:bolder; /*太字に*/
    font-family: 'M PLUS Rounded 1c', sans-serif;
    width: 50%;
    padding-left: 2%;
}
.NewItemsSubTitle{
    text-align: left;
    color:black;
    font-size: 40px;
    font-weight:bolder; /*太字に*/
    font-family: 'M PLUS Rounded 1c', sans-serif;
    margin-top:-10% ;
    margin-bottom: -5%;
}
.Continue{
    text-align: right;
    padding-right: 2%;
}
.NewItemsHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}